.about-body {
  margin: 0;
  padding: 6rem 2rem 2rem; 
  background-color: #161321;
  color: rgb(255, 255, 255); 
  font-family: var(--main-font); 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start; 
  min-height: 100vh; 
  box-sizing: border-box; 
  overflow-y: auto; 
}

.about-title h1 {
  font-size: 3rem; 
  margin-bottom: 2rem; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  color: #e2e2e2; 
  text-align: center; 
  border-bottom: 2px solid #446cdc;

}

.about {
  width: 100%; 
  max-width: 800px; 
  padding: 1rem;
  background: #232132; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  color: #ffffff;
}

.about h2 {
  font-size: 1.8rem; 
  margin-top: 1.5rem; 
  margin-bottom: 1rem; 
  color: #e2e2e2; 
  border-bottom: 2px solid #446cdc; 
  padding-bottom: 0.5rem;
}

.about p {
  font-size: 1rem;
  line-height: 1.6; 
  color: #cfcfcf; 
  margin-bottom: 1rem; 
}
.resume-download {
  text-align: center; 
  margin-bottom: 1rem;
}

.download-button {
  display: inline-block;
  background-color: #446cdc; 
  color: #ffffff; 
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem 1.5rem; 
  border-radius: 5px; 
  text-decoration: none; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.download-button:hover {
  background-color: #3554a1; 
  transform: scale(1.05); 
}

.download-button:active {
  background-color: #2a3e73; 
  transform: scale(0.95); 
}

@media screen and (max-width: 768px) {
  .about {
      padding: 1rem;
      max-width: 100%; 
  }

  .about h2 {
      font-size: 1.5rem;
  }

  .about p {
      font-size: 0.95rem;
  }
}